.catalog {
  padding: 36px 0;
}

.catalog__column {
  grid-column: span 3;
  padding-top: 12px;
}

.catalog__mobile-btn {
  display: none;
}

.catalog__wrapper {
  grid-column: span 9;
}

.catalog__products {
  --column-gap: 20px;
  --elems: 3;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: 36px;
}

.catalog__item {
  width: calc((100% - var(--column-gap) * (var(--elems) - 1)) / var(--elems));
}
